{% extends 'base.html' %}

{% block content %}
<h1>Dashboard</h1>
<p>Aquí puedes ver el video en vivo desde la cámara y la detección de objetos.</p>
<div class="row">
    <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ url_for('video_feed') }}"></iframe>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Conteo de Objetos</h2>
        <ul id="object-counts" class="list-group">
            <!-- Los conteos de objetos se actualizarán aquí -->
        </ul>
    </div>
</div>
<script>
    function updateObjectCounts() {
        fetch("{{ url_for('object_counts_endpoint') }}")
            .then(response => response.json())
            .then(data => {
                const list = document.getElementById('object-counts');
                list.innerHTML = '';
                for (const [key, value] of Object.entries(data)) {
                    const item = document.createElement('li');
                    item.className = 'list-group-item';
                    item.textContent = `${key}: ${value}`;
                    list.appendChild(item);
                }
            });
    }

    setInterval(updateObjectCounts, 1000); // Actualiza los conteos cada segundo
</script>
{% endblock %}